/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap');
* {
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
}


/* body {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 122, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 122, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
} */
