<mat-toolbar color="primary">
  <a class="link-button"
    mat-button
    routerLink="/offers"
    routerLinkActive="active">
    Sponsor Project
  </a>

  <a class="link-button"
    mat-button
    routerLink="/offers"
    routerLinkActive="active">
    Offers
  </a>
  <a class="link-button"
    mat-button
    routerLink="/create"
    routerLinkActive="active">
    Create Offer
  </a>
  <span class="example-spacer"></span>

  <div *ngIf="accounts.length !== 0">
    <mat-chip-list>

      <mat-chip class="network-chip">
        {{network}}
      </mat-chip>
      <mat-chip class="balance-chip">
        {{balance}} ETH
      </mat-chip>
      <mat-chip class="address-chip">
        {{simplifiedAcc}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <button mat-flat-button
    color="accent"
    *ngIf="accounts.length === 0"
    (click)="connectWallet()">
    Connect Wallet
  </button>

</mat-toolbar>

<router-outlet></router-outlet>

