.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  margin-bottom: 10px;
}

.link-button {
  margin-left: 30px;
  font-size: large;
}

.network-chip {
  font-size: large;
}

.balance-chip {
  font-size: large;
}

.address-chip {
  font-size: large;

}
