<!-- <mat-toolbar color="primary">Sponsor Project</mat-toolbar> -->
<mat-toolbar color="primary">
  <a class="link-button"
    mat-button
    routerLink="/offers"
    routerLinkActive="active">
    <mat-icon>fast_forward</mat-icon>
    Sponsor Project
  </a>

  <a class="link-button"
    mat-button
    routerLink="/offers"
    routerLinkActive="active">
    Offers
  </a>
  <a class="link-button"
    mat-button
    routerLink="/create"
    routerLinkActive="active">
    Create Offer
  </a>
  <span class="example-spacer"></span>

  {{stringHelperService.convertWeiToEth(balance)}} ETH

  {{stringHelperService.simplifyAddress(accounts[0])}}
  <button mat-flat-button
    color="accent"
    *ngIf="accounts.length == 0"
    (click)="connectWallet()">
    Connect Wallet
  </button>

</mat-toolbar>

<router-outlet></router-outlet>

