<div class="center">
  <mat-card class="offer-details mat-elevation-z8">
    <mat-card-header>
      <mat-card-title id="addrTitle">{{contractAddress}}
        <a ngxClipboard
          [cbContent]="contractAddress"
          mat-button
          (click)="setStatus('Address copied')">
          <mat-icon aria-hidden="false" style="font-size: 20px;">content_copy</mat-icon>
        </a>
      </mat-card-title>
      <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="offer-form">

        <mat-form-field class="full-width">
          <mat-label>Song</mat-label>
          <input matInput readonly
            [(ngModel)]="songSimplified" name="song">
          <a mat-button matSuffix mat-icon-button aria-label="Clear"
            href="{{song}}"
            target="_blank">
            <mat-icon aria-hidden="false">launch</mat-icon>
          </a>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Finish date</mat-label>
          <input matInput readonly
            type="string"
            [(ngModel)]="finishDate" name="finishDate">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Min Likes</mat-label>
          <input matInput readonly
            type="number"
            [(ngModel)]="minLikes" name="minLikes">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Reward Value</mat-label>
          <input matInput readonly
            [(ngModel)]="value" name="value">
          <span matSuffix>wei</span>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="setBalance()">
            <mat-icon aria-hidden="false" aria-label="Refresh balance">refresh</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Your video URL</mat-label>
          <input matInput
            required
            type="string"
            [(ngModel)]="videoUrl" name="videoUrl"
            placeholder="https://www.tiktok.com/@charlidamelio/video/6885801328245820678">
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button
        type="submit"
        [disabled]="!song || !videoUrl || 0 === videoUrl.length"
        (click)="checkVideoMusic()"
        color="primary">
        Check Video Music</button>
    </mat-card-actions>

    <mat-card-actions>
      <button mat-raised-button
        type="submit"
        [disabled]="finishDayDate < todayDate"
        (click)="applyOffer()"
        color="primary">
        Apply to Offer</button>
      <button mat-raised-button
        type="submit"
        [disabled]="finishDayDate > todayDate"
        (click)="withdrawEth()"
        color="primary">
        Claim</button>
    </mat-card-actions>
  </mat-card>

</div>
