/* Structure */
.container-table {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.007);
}

table {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

td a:hover {
  text-decoration: underline;
}

td a:hover mat-icon {
  color: lightslategray;
}

td a mat-icon {
  color: white
}

.example-loading-shade {
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
