<div class="mat-elevation-z8 container-table">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Contract address </th>
      <td mat-cell *matCellDef="let offer">
        <a mat-button
          href="https://kovan.etherscan.io/address/{{offer.address}}"
          target="_blank">
          {{stringHelperService.simplifyAddress(offer.address)}}
        </a>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="song">
      <th mat-header-cell *matHeaderCellDef> Song Url </th>
      <td mat-cell *matCellDef="let offer"> {{offer.song}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="minLikes">
      <th mat-header-cell *matHeaderCellDef> Min Likes </th>
      <td mat-cell *matCellDef="let offer"> {{offer.minLikes}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Reward </th>
      <td mat-cell *matCellDef="let offer"> {{stringHelperService.convertWeiToEth(offer.value)}} ETH </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let offer">
        <button mat-raised-button color="primary"
          (click)="gotoOffer(offer.address)">
          Apply
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
</div>
