/* Structure */
.container-table {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.007);
}

table {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}
