<div class="mat-elevation-z8 container-table">

  <div class="example-loading-shade" *ngIf="dataSource.data.length === 0">
    No Offers found
  </div>

  <table mat-table matSort [dataSource]="dataSource" *ngIf="dataSource.data.length !== 0">

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Contract address </th>
      <td mat-cell *matCellDef="let offer">
        <a mat-button
          href="https://kovan.etherscan.io/address/{{offer.address}}"
          target="_blank">
          {{stringHelperService.simplifyAddress(offer.address)}}
          <mat-icon aria-hidden="false" style="font-size: 15px;">launch</mat-icon>
        </a>
      </td>
    </ng-container>

    <!-- Song Column -->
    <ng-container matColumnDef="song">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Song Url </th>
      <td mat-cell *matCellDef="let offer">
        <a mat-button
          href="{{offer.song}}"
          target="_blank">
          {{this.stringHelperService.simplifySongUrl(offer.song)}}
          <mat-icon aria-hidden="false" style="font-size: 15px;">launch</mat-icon>
        </a>
      </td>
    </ng-container>

    <!-- Likes Column -->
    <ng-container matColumnDef="minLikes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Min Likes </th>
      <td mat-cell *matCellDef="let offer">
        <!-- this one is for the sort to work -->
        <span hidden="true">{{offer.minLikes}}</span>
        {{this.stringHelperService.simplifyLikes(offer.minLikes)}}
      </td>
    </ng-container>

    <!-- Reward Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Reward </th>
      <td mat-cell *matCellDef="let offer">
        <span hidden="true">{{offer.value}}</span>
        {{stringHelperService.convertWeiToEth(offer.value)}} ETH
      </td>
    </ng-container>

    <!-- Apply Button -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let offer">
        <button mat-raised-button color="primary"
          (click)="gotoOffer(offer.address)">
          Open
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons *ngIf="dataSource.data.length > 10">
  </mat-paginator>
</div>
